/*
body {

    color: white;
    border: 5px solid white;
    margin: 0;
    font-size: 20px;
}

form {
    background-color: #213b50;
    width: 60%;
    height: 700px;
    padding: 20px;

}

label{
    display: block;
    margin-bottom: 7px;
}

input,
select,
textarea{
    margin-bottom: 7px;
    background-color: #2b4a64;
    border: none;
    padding: 8px;
    width: 50%
}

input[type="submit"]{
    background-color: #0cd30c;
    color: white;
    text-transform: uppercase;
    width: 20%;
    height: 8%;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    
}

select{
    color: #fff;
    width: 53%;
}

input[type="radio"]{
    width: 5%;
}

*/







/*POPRAWIONE RAZEM Z MARCINEM!*/

body {
    margin: 0px;
}

form {
    width: 50%;
    background-color: #213b50;
    padding: 20px;
    border: 5px solid white;
}

label {
    display: block;
    color: #fff;
    margin: 5px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    border: none;
    background-color: #2b4a64;
    color: white;
    width: 50%;
    padding: 5px;
}

input[type="submit"]{
    background-color: limegreen;
    width: 20%;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: bold;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus{
    border: 1px solid white;
    background-color: #4e708c;
}
